*{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 2%;
}

footer{
    display: grid;
    background-color: black;
    grid-area: footer;
    margin-top: 5.5%;
    position: sticky;
}

body{
    background-color: rgb(32, 32, 32);
}

main{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas:
    "player1Buttons game player2Buttons"
    "nicknameForm nicknameForm nicknameForm"
    "footer footer footer";
    gap: 15% 0;
    margin: 1% 0;
    color: white;
}

.showGame{
    max-width: 1200px;
    height: 475px;
    grid-area: game;
    border-radius: 4px;
    margin: 0 1% 0 1%;
    display: grid;
    background-color: rgba(255, 255, 255, 0.616);
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "player1ShowGame winner player2ShowGame";
}

.player1Show, .player2Show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player1Show{
    grid-area: player1ShowGame;
    align-items: flex-start;
}

.player2Show{
    grid-area: player2ShowGame;
    align-items: flex-end;
}
h2{
    text-align: center;
}

.player1ButtonTitle{
    margin-bottom: 5%;
}

.player2ButtonTitle{
    margin-bottom: 5%;
}


.player1Buttons, .player2Buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.player1Buttons{
    margin: 35% 0 50% 5%;
    /* margin-left: 5%;
    margin-bottom: 50%; */
}

.player2Buttons{
    margin: 35% 5% 50% 0;
}

button:disabled{
    color: initial;
}

button{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.616);
    border-style: none;
}

img{
    width: 50%;
    border-radius: 4px;
}

.scorePlayer1, .scorePlayer2, .winner{
    display: flex;
    justify-content: center;    
}

img{
    margin-bottom: 0%;
}

.showGameText{
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerNameForm{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: nicknameForm;
    margin-top: -5%;
}